In [1]:
import pandas as pd

In [4]:
# Load the data from the Excel file
file_path = 'C:/Users/Rahul/Downloads/AssignmentData.xlsx'
funnel_df = pd.read_excel(file_path, sheet_name='WorkerFunnel')

In [5]:
funnel_df

,Date,Quarter,Department,Targeted Productivity,Overtime,No. of Workers,Actual Productivity
0,2015-01-01 00:00:00,Q1,Sewing,0.8,7080,59,0.940725
1,2015-01-01 00:00:00,Q1,Finishing,0.75,960,8,0.8865
2,2015-01-01 00:00:00,Q1,Sewing,0.8,3660,30.5,0.80057
3,2015-01-01 00:00:00,Q1,Sewing,0.8,3660,30.5,0.80057
4,2015-01-01 00:00:00,Q1,Sewing,0.8,1920,56,NaN
...,...,...,...,...,...,...,...
1192,2015-11-03 00:00:00,Q2,Finishing,0.75,960,8,0.628333
1193,2015-11-03 00:00:00,Q2,Finishing,0.7,960,8,NaN
1194,2015-11-03 00:00:00,Q2,Finishing,0.65,960,8,0.625625
1195,2015-11-03 00:00:00,Q2,Finishing,0.75,1800,15,0.505889
1196,2015-11-03 00:00:00,Q2,Finishing,0.7,720,6,0.394722

In [6]:
funnel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   1197 non-null   object
 1   Quarter                1197 non-null   object
 2   Department             1197 non-null   object
 3   Targeted Productivity  1197 non-null   object
 4   Overtime               1197 non-null   object
 5   No. of Workers         1197 non-null   object
 6   Actual Productivity    1168 non-null   object
dtypes: object(7)
memory usage: 65.6+ KB

EDA

In [7]:
# Convert 'Actual Productivity' to numeric, coercing errors to NaN
funnel_df['Actual Productivity'] = pd.to_numeric(funnel_df['Actual Productivity'], errors='coerce')

# Handle missing values in 'Actual Productivity' by filling with the mean of the column
funnel_df['Actual Productivity'].fillna(funnel_df['Actual Productivity'].mean(), inplace=True)

C:\Users\Rahul\AppData\Local\Temp\ipykernel_15428\2688518529.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  funnel_df['Actual Productivity'].fillna(funnel_df['Actual Productivity'].mean(), inplace=True)

In [8]:
# Remove duplicate rows
funnel_df.drop_duplicates(inplace=True)

# Re-check for missing values and duplicates after handling
missing_values_after = funnel_df.isnull().sum()
duplicate_rows_after = funnel_df.duplicated().sum()

# Print results
print(f"Missing values after handling: \n{missing_values_after}")
print(f"Number of duplicate rows after handling: {duplicate_rows_after}")

Missing values after handling:
Date                     0
Quarter                  0
Department               0
Targeted Productivity    0
Overtime                 0
No. of Workers           0
Actual Productivity      0
dtype: int64
Number of duplicate rows after handling: 0

In [11]:
funnel_df.to_excel('Workerfunnel.xlsx',index=False)